<p>
  <strong>Preferences:</strong>
  <%= @preference.altbtcaddy %>
</p>

<p>
  <strong>Message:</strong>
  <%= @preference.message %>
</p>

<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
</div>