
@import "railsbricks_custom";
@import "contacts";
@import "content";
@import "crew";
@import "flat-ui";
@import "footer";
@import "header";
@import "icon-font";
@import "projects";
@import "custom";
@import "claims";
@import "wallets";

.panel-default{
  .panel-heading-coinkite{
    @extend .panel-heading;
    background-color: #FF5722;
    color: white;

  }
  .panel-title{
    font-size: 21px;
    font-weight: bold;
    line-height: 47px;
  }

}
