.btn-tombstone {
	@extend .btn-success;
	background-color: #1ABC9C;
}

.home-logo{
  min-width: 200px;
}







/*
=============  My Wallet
*/

.fancy-hr {
	border-top: 15px solid #1abc9c;
}
.form-title {
	position: relative;
	bottom: 30px;
	font-size: 1em;
	text-align: center;
}
/*.coinkite-title:before {
	content: url(image_path())
}*/
.coinkite-title {
	position: relative;
	bottom: 3px;
	width: 100%;
	border-radius: 5px;
	padding: 8px;
	font-size: 1.65em;
	letter-spacing: 1px;
	font-weight: 300;
	color: white;
	background-color: #ff912f;
	margin: 0;
}
#Layer_1 {
	float: left;
	width: 58px;
	position: relative;
	bottom: 2.5em;
	margin: 0;
	padding: 0;
}
.form-box {
	top: -1em;
	position: relative;
	border: 1px solid #b2afaf;
	border-width: 100%;
	padding: 0;
	margin: 3px;
	border-radius: 5px;
	box-shadow: 2px 4px 2px;
}
#token,
#secret {
	padding: 4px;
	margin: 4px;
	width: 60%;
	font: bold;
	font-size: 12px;
}
button.btn.btn-tombstone {
	margin: 4px;
	border: 1px solid;
}